# Python
__pycache__/
.pytest_cache/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Database
*.db

# OS
.DS_Store
Thumbs.db
